<div class="row">
  <div class="col s12 center pinky-text">
    <h2>Update Profile</h2>
  </div>
</div>

<%= erb :errors %>

<div class="row">
  <form class="col s12 m8 offset-m2 l6 offset-l3" action="/users/<%= current_user.id %>" method="post">
    <input type="hidden" name="_method" value="put">

    <div class="input-field col s6">
      <input name="user[first_name]" value="<%=@user.first_name%>" type="text" class="validate" length="50">
      <label for="first_name">First Name</label>
    </div>

    <div class="input-field col s6">
      <input name="user[last_name]" value="<%=@user.last_name%>" type="text" class="validate" length="75">
      <label for="last_name">Last Name</label>
    </div>

    <div class="input-field col s12">
      <input name="user[zip]" value="<%=@user.zip%>" type="text" class="validate" length="10">
      <label for="username">Zip Code</label>
    </div>

    <div class="input-field col s12">
      <input name="image" value="<%=@user.images.last.name %>" type="text" class="validate">
      <label for="image">Image URL</label>
    </div>

    <div class="row center">
      <button class="btn waves-effect waves-purple light-green" type="submit">Update</button>
    </div>

  </form>
</div>
