<div class="row">
  <div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card">
        <div class="card-image waves-effect waves-purple">
          <img src="<%= pet.images.first.name %>">
        </div>
        <div class="card-content center flow-text">
          <p class="red-text text-lighten-2"><%=pet.name%></p>
          <p><%= "Species: #{pet.species}" %></p>
          <p><%= "Breed: #{pet.breed}" %></p>
          <p><%= "Age: #{pet.age}" if pet.age %></p>
        </div>
      </div>
  </div>
</div>
