<div class="row">
  <div class="col s12 center">
    <h1 class="pinky-text"><span class="light-green-text"><%= @user.username %></span> wants to adopt this pet.</h1>
  </div>
</div>

<%= erb :errors %>

<div id="pet">
  <div class="row">
    <div class="col s12 m8 offset-m2 l4 offset-l4">
      <div class="card">
        <div class="card-image">
          <img src="<%= @pet.images.last.name %>">
          <span class="card-title"><%= @pet.animal %></span>
        </div>
        <div class="card-content center flow-text">
          <p class="red-text text-lighten-2"><%= @pet.name %></p>
          <p><%= "Breed: #{@pet.breeds}" %></p>
          <p><%= "Age: #{@pet.age}" if @pet.age %></p>
        </div>
      </div>
    </div>
  </div>
</div>
<% if @pet.is_pet_of_user == false %>
<div class="row">
  <div class="col s12">


    <h3 class="pinky-text center">Listen to my story...</h3>
    <div class="col s12 m10 offset-m1 l8 offset-l2">
      <p class="flow-text left"><%= @pet.description %></p>
    </div>
  </div>
</div>
<div class="row">

  <div class="center">
    <a href="#" id="adopt-button"><button class="btn waves-effect waves-purple light-green">Adopt Me!</button></a>
  </div>
  <div id="contact-details">
    <ul class="center">
      <li><h2 class="light-blue-text">Contact <span class="light-green-text">me</span> and bring me <span class="light-green-text">home!</span></h2></li>
      <li><%= @shelter.name %></li>
      <li><%= @shelter.address1 %></li>
      <li><%= @shelter.address2 %></li>
      <li><%= @shelter.city %>, <%= @shelter.state %>. <%= @shelter.zip %></li>
      <span class="light-green-text">
        <li class="flow-text">Phone: <%= @shelter.try(:phone) ? @shelter.phone : "N/A" %></li>
        <li class="flow-text">Email: <%= @shelter.try(:phone) ? @shelter.phone : "N/A" %></li>
      </span>
    </ul>
    <div class="center col s12 m8 offset-m2 l6 offset-l3">
      <p class="flow-text pinky-text">Here's an email you could send to begin adopting <%= @pet.name %>...</p>
    </div>
    <div class="row">
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <form action="/users/<%= @user.id %>/pets/<%= @pet.id %>/mailers/new" method="GET">
          <div class="row">
            <div class="input-field col s12">
              <input id="subject" name="subject" type="text" class="validate" value="Interest in adopting <%= @pet.name %>">
              <label for="subject">Subject</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="message" name="message" class="materialize-textarea">Hi <%= @shelter.name %>. My name is <%= @user.first_name %> <%= @user.last_name %> and I am interested in adopting the <%= @pet.animal %> with the name <%= @pet.name %>. Please contact me at <%= @user.email %>. Thank you!</textarea>
              <label for="message">Message</label>
            </div>
          </div>
          <div class="row center">
            <button class="btn waves-effect waves-red light-green" type="submit">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<% end %>

<div class="row center">
  <a href="/users/<%= @user.id %>"><button class="btn waves-effect waves-purple light-blue">Back to Profile</button></a>
</div>
