<% if @user.images %>
  <div class="row">
    <div class="col s12 m8 offset-m2 l6 offset-l3 center pinky-text text-ligten-2 ">
      <img class="responsive-img profile-img" src="<%= @user.images.first.name %>">
    </div>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col s12 center pinky-text text-ligten-2">
      <h2><%= @user.username%></h2>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m4 center pinky-text text-ligten-2">

      <h2>Posts</h2>

      <!-- Post Collection -->
      <div class="collection">
        <% @user.posts.each do |post| %>
          <p class="collection-item"><a href="/users/<%= @user.id %>/posts/<%= post.id %>"><%=  post.title %></a></br>
          <%= post.description %></p>
        <% end %>
      </div>

      <!-- Want to create a post? -->
      <div class="row">
        <div class="col s12">
          <h5>Want to create a post?</h5>
          <a href="/users/<%= @user.id %>/posts/new"><button class="btn waves-effect waves-purple light-green">Sure</button></a>
        </div>
      </div>

    </div>

    <div class="col s12 m4 center pinky-text text-ligten-2">

      <h2>Comments</h2>

      <!-- Comment Collection -->
      <div class="collection">
        <% @user.comments.each do |comment| %>
          <a href="/users/<%= @user.id %>/posts/<%= comment.post_id %>" class="collection-item">
            <p class="pinky-text"><%= comment.post.title %></p>
            <%=comment.body[0..140]%>...
          </a>
        <% end %>
      </div>

    </div>

    <div class="col s12 m4 center pinky-text text-ligten-2">

      <h2>Pets</h2>

      <!-- Pet Collection -->
      <% if @user.pets.any? %>
        <% @user.pets.each do |pet| %>
          <a href="/users/<%= @user.id %>/pets/<%= pet.id %>">
            <div class="chip">
              <img src="<%= pet.images.last.name %>" alt="<%= @user.username %>'s pet">
              <%= pet.name %>
            </div>
          </a>
        <% end %>
      <% end %>

      <!-- Want to add a pet? -->
      <div class="row">
        <div class="col s12">
          <h5>Want to add a pet?</h5>
          <a href="/users/<%= @user.id %>/pets/new"><button class="btn waves-effect waves-purple light-green">Yes</button></a>
        </div>
      </div>

    </div>

  </div>
</div>
