<div class="row">
  <div class="col s12 center pinky-text">
    <h3><%= @post.title%></h2>
    </div>
  </div>
  <article>
    <% if @post.images %>
    <div class="row">
      <div class="col s12 center pinky-text text-ligten-2 ">
        <img class="responsive-img" src="<%= @post.images.last.name %>">
      </div>
    </div>
    <% end %>
    <div class="row">
      <div class="col s12 center pinky-text">
        <p class="flow-text"><%= @post.body %></p>
      </div>
    </div>
  </article>
  <section id="comments">
    <div class="row center">
      <div class="col s12 center pinky white-text">
        <h3>Comments</h3>
      </div>
    </div>

    <div class="row">
      <div class="col s12 center pinky-text">
        <ul class="collection">
          <% @post.comments.each do |comment| %>
          <li class="collection-item"><%= comment.body %><p>-<%= comment.user.username%></p></li>

          <% end %>
        </ul>
      </div>
    </div>
  </section>
    <div class="row center" id="post-buttons">
      <a id="add-comment" href='/users/<%= @user.id %>/posts/<%= @post.id %>/comments/new'class="waves-effect waves-purple btn"><i class="material-icons left">cloud</i>Add a Comment</a>


      <%if @user.id == current_user.id %>
        <a id="edit-post" href='/users/<%= @user.id %>/posts/<%= @post.id %>/edit'class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Edit Your Post</a>
      <% end %>
    </div>

