<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo center">Pet Tales</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <% if current_user %>
        <li><a herf="/posts">All Posts</a></li>
        <li><a href="/users/<%= current_user.id %>/posts">Your Posts</a></li>
        <li><a href="/users/<%= current_user.id %>/comments">Your Comments</a></li>
        <li><a href="/users/<%= current_user.id %>">Profile</a></li>
      <% else %>
        <li><a href="/users/new">Sign Up</a></li>
        <li><a href="/login">Login</a></li>
      <% end %>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <% if current_user %>
        <li><a herf="/posts">All Posts</a></li>
        <li><a href="/users/<%= current_user.id %>/posts">Your Posts</a></li>
        <li><a href="/users/<%= current_user.id %>/comments">Your Comments</a></li>
        <li><a href="/users/<%= current_user.id %>">Profile</a></li>
      <% else %>
        <li><a href="/users/new">Sign Up</a></li>
        <li><a href="/login">Login</a></li>
      <% end %>
    </ul>
  </div>
</nav>
